<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/css.min.css">
    <script src="/js/js.min.js" charset="utf-8"></script>
</head>
<body ng-app="app" ng-controller="mainCtrl" class="ng-cloak">

<nav id="navigation" ng-class="pxScr < 75 ? 'navCl' : 'navBl'">
    <div id="innerNav">
        <a id="navName" ng-style="navStyle" href="#" ng-click="scrollTo('top')">BRIAN KEMPER</a>
        <a id="navAbout" ng-style="navStyle" href="#" ng-click="scrollTo('about')">About</a>
        <a id="navSkills" ng-style="navStyle" href="#" ng-click="scrollTo('skills')">Skills</a>
        <a id="navContact" ng-style="navStyle" href="#" ng-click="scrollTo('contact')">Contact</a>
    </div>
</nav>
<section id="top">
    <p id="topName">
        BRIAN KEMPER
    </p>
    <p id="nameBorder">

    </p>
    <p>
        Full Stack Web Developer | UI/UX | JavaScript
    </p>
    <div id="downArrow">
        <a href="" ng-click="scrollTo('about')"><img src="down.svg"></a>
    </div>
</section>
<section id="about">
    <p>
        about
    </p>
</section>
<section id="skills">
    <p>
        skills
    </p>
</section>
<section id="portfolio">
    <p>
        portfolio
    </p>
</section>
<section id="contact">
    <p>
        contact
    </p>
</section>

</body>
</html>